# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__pycache**
venv
db.sqlite3*
backend/places/migrations/0004_alter_place_latitude_alter_place_longitude.py
backend/places/__pycache__/admin.cpython-311.pyc
backend/places/__pycache__/apps.cpython-311.pyc
backend/places/__pycache__/admin.cpython-311.pyc
backend/places/__pycache__/models.cpython-311.pyc
backend/places/__pycache__/serializers.cpython-311.pyc
backend/places/__pycache__/urls.cpython-311.pyc
backend/places/__pycache__/views.cpython-311.pyc
backend/places/migrations/0003_merge_20230519_2023.py
backend/places/migrations/__pycache__/__init__.cpython-311.pyc
backend/places/migrations/__pycache__/0001_initial.cpython-311.pyc
backend/tripza/__pycache__/__init__.cpython-311.pyc
backend/tripza/__pycache__/settings.cpython-311.pyc
backend/tripza/__pycache__/urls.cpython-311.pyc
backend/tripza/__pycache__/wsgi.cpython-311.pyc
backend/places/__pycache__/urls.cpython-311.pyc
backend/places/__pycache__/admin.cpython-311.pyc
backend/places/__pycache__/apps.cpython-311.pyc
backend/places/__pycache__/models.cpython-311.pyc
backend/places/__pycache__/serializers.cpython-311.pyc
backend/places/__pycache__/views.cpython-311.pyc
backend/places/migrations/__pycache__/__init__.cpython-311.pyc
backend/places/migrations/__pycache__/0001_initial.cpython-311.pyc
backend/tripza/__pycache__/__init__.cpython-311.pyc
backend/tripza/__pycache__/settings.cpython-311.pyc
backend/tripza/__pycache__/urls.cpython-311.pyc
backend/tripza/__pycache__/wsgi.cpython-311.pyc
