*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins';
    font-style: normal;
    /* color: #0F4C5C; */
}
.contribute-container{
    position: relative;
    display: flex;
    align-items: center;
    
}
.left-part{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 50px;
    font-weight: medium;
    font-size:  25px;
}
.places-container ul{
    display: flex;
    list-style-type: none; 
    
}
.places-container img{
    height: 100px;
    margin-top: 10px;
    margin-right: 8px;
    border-radius: 7px;
}
.contribute-text{
    font-weight: 300;
    font-size: 1.2em;
    margin-top: -5px;
}
.contribute--add{
    font-size: 0.8em;
    margin-bottom:5px;
}
.contribute--imageContainer{
    position: relative;
    margin-top:-10px ;
}
.delete-button {
  position: absolute;
  top: 10%;
  right: 8%;
  background-color: #ccc;
  opacity: 0.3;
  border-radius: 20%;
  border-radius: 50;
}

.delete-button:hover {
    position: absolute;
    top: 10%;
    right: 10%;
    background-color: #ccc;
    opacity: 0.5;
    border-radius: 20%;
    border-radius: 50;
    cursor: pointer;
}
.add-box{
    border-radius: 7px;
}
.add-box:hover{
   cursor: pointer;
}

.contribute--addmap{
    font-size: 0.8em;
    margin-bottom:5px;
}
.right-part{
    display: flex;
    flex-direction: column;
    /* margin-left: 100px;
    margin-top: 160px; */
}
.place-info{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 10px;
}
/* .place-info input::placeholder{
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 5px;
} */

  
/* .place-info form{
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 2px 2px;
    margin: 8px 8px;
    box-sizing: border-box;
    border-radius: 100px;
} */
/* .place-info input::placeholder{
    padding-top: 100px;
} */
.place-name1{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: top;
    border-radius: 7px;
    margin-top: -50px;
    border: 1.2px solid #0F4C5C ;
}
.place-location{
    padding: 5px 5px 5px ;
    margin-top: 20px;
    text-align: top;
    border-radius: 7px;
    border: 1.2px solid #0F4C5C ;
}
.place-name2{
    padding: 5px 5px 5px ;
    margin-top: 20px;
    height: 50px;
    text-align: top;
    border-radius: 7px;
    border: 1.2px solid #0F4C5C ;
    
}
.place-offers-text{
margin-top: 15px;
margin-bottom: 15px;
/*margin-bottom: 200px;*/
}
  .add-offer{
    color: blue;
  }
.review-text{
    margin-top: 20px;
}
.review{
    margin-top: 5px;
}
.review-box{
    margin-top: 3px;
}
.review-box input{
    text-align: top;
    border-radius: 7px;
    border: 1.2px solid #0F4C5C ;
    margin-top: 3px;
    width: 385px;
    padding: 5px 5px 5px;
}

.checkbox label{
    font-size: 13px;
    margin-left: 0px;

}
.checkbox input {
    margin-top:15px;
    border-radius: 10px;
    
}
.submit {
    background-color: #0F4C5C;
    border: none;
    border-radius: 7px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    padding: 5px 5px 5px 5px;
    width: 110px;
  }
    
.reward-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #0F4C5C;
    opacity: 0.5;
    z-index: 9999;
    }
    .reward-container{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 30vw;
        height: 20vh;
        background: #f0f2f3;
        border-radius: 8px;
        z-index: 10000;
    }
    
    .reward--close-btnn {
        padding: 8px;
        font-size: 20px;
        color: #0F4C5C;
        text-align:right;
        cursor: pointer;
      }
    .reward--text1{
        margin-left: 20%;
        font-size: 2em;
        font-weight: 500;
    }
    .reward--text2{
        margin-left: 30%;
        font-size: 1em;
    }