* {
  padding: 0;
  margin: 0;
}

.landing-page {
  margin-top: -20px;
  /* background-color: #ccc; */
}


.trending--text {
  margin-left: 1vw;
  color: #fff;
  padding: 2vh 3vw 1vh 0.5vw;
  font-weight: 400;
  font-size: 1.5rem;
}
.landing--trendingCar{
  margin-top: 20vh;
  margin: 4vh 0vw 0px 4vw;
  height: 48vh;
  width: 88vw;
  display: flex;
  justify-content: center;
  background-color: #0f4c5c;
  flex-direction: column;
  font-family: Poppins;
  border-radius: 7px;
  flex-grow: 1;
  
}
.landing--trendingCar .alice-carousel {
  border-radius: 5px;
  margin-top: 1vh;
}

.landing--trendingCar .alice-carousel img {
  width: 100%;
}
.landing--trendingCar .alice-carousel__prev-btn-wrapper {
  position: absolute;
  top: -100%;
  left: 0%;
  cursor: pointer;
  font-size: 50px;
}
.landing--trendingCar .alice-carousel__next-btn-wrapper {
  position: absolute;
  top: -100%;
  right: 0%;
  cursor: pointer;
  font-size: 50px;
}
.landing--trendingCar .alice-carousel__prev-btn{
  position: absolute;
  top: 30%;
  cursor: pointer;
  font-size: 50px;
}
.landing--trendingCar .alice-carousel__next-btn{
  position: absolute;
  top: 30%;
  cursor: pointer;
  font-size: 50px;
}
.landing--trendingCar .alice-carousel__next-btn [data-area]::after,
.landing--trendingCar .alice-carousel__prev-btn [data-area]::after {
  color: #0f4c5c;
  background-color: #ccc;
  border-radius: 15px;
}
.landing--trendingCar .alice-carousel__prev-btn {
  left: 0;
}

.landing--trendingCar .alice-carousel__next-btn {
  right: 0;
}
.landing--trendingCar .alice-carousel__dots {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}


.explore--box {
  width: 88vw;
  background-color: #cdd6d8;
  border-radius: 7px;
  font-family: Poppins;
  margin: 4vh 0px 0px 4vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.explore--text {
  margin-left: 5.5vh;
  padding: 2vh 3vw 1vh 1vw;
  color: #0f4c5c;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 1.5rem;
}
.explore--cardlist {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 20px;
  margin-bottom: 15px;
  margin-left: 2.5vw;
  margin-bottom: 15px;
}
