 *{
    padding:0;
    margin:0;
 }

 .loginpage{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    color:#255957;
    font-family: Poppins;
 }

 .loginpage img{
    height:18vh 
 }

.loginpage .box{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding:20px
}

.loginpage .box h1{
    font-family: Poppins;
    font-weight: 500;
    letter-spacing: 0.03em;


}

.loginpage .box p{
    font-family: Poppins;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.03em;

}

.loginpage .box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15px;
}

.loginpage .box form input{
    margin:5px;
    padding:8px 10px;
    border:none;
    background-color: #d1cbcb;
    box-shadow: 5px 5px 8px 5px #adabab;
    letter-spacing: 0.03em;

}

.loginpage .box form input::placeholder{
    font-family: Poppins;
    letter-spacing: 0.03em;
    color:#969393;
    font-size: 12px;
}

.loginpage .box button{
    border:none;
    background-color: #0F4C5C;
    border-radius: 5px;
    color:white;
    font-family: Poppins;
    width:190px;
    padding:8px 20px;
    margin-top: 10px;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.loginpage .box button:hover{
    background-color: #255957;
    color: black;
}

.loginpage .box .or{
    font-size: 12px;
    /* padding:2px; */
    letter-spacing: 0.03em;

}

.loginpage .box .loginwith{
    font-size: 12px;
    /* padding:2px; */
    letter-spacing: 0.03em;


}

.loginpage .google{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03em;

}

.loginpage .googlelogo{
    padding:0px 5px
}

.loginpage .noacc{
    font-size: 12px;
    padding-top: 10px;
    letter-spacing: 0.03em;

}

.loginpage .noacc a{
    padding-left: 5px;
    text-decoration: none;
    letter-spacing: 0.03em;

}