* {
  padding: 0;
  margin: 0;
}

.signup--page {
  font-family: Poppins;
}

.signup--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  color: #255957;
  font-size: larger;
  letter-spacing: 0.03em;
}

.signup--boxes {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.signup--input {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  margin-left: 240px;
}

.signup--page .signup--boxes .signup--form form input {
  margin-top: 1px;
  padding: 10px 10px;
  border: solid 1px #255957;
  width: 400px;
  height: 30px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px 1px #adabab;
  letter-spacing: 0.03em;
}

.signup--page .signup--boxes .signup--form form input::placeholder {
  font-size: 20px;
}

.signup--page .signup--boxes .signup--form .signup--input label{
    font-size: 1.3em;
    margin-top: 5px;
    color: #0f4c5c;
}

.signup--page .signup--boxes .signup--form .signup--input input[type="date"]{
    font-family: Poppins;
    font-size: 1.1rem;
    color: #0f4c5c;

}

.signup--as {
  padding-left: 100px;
}
.signup--signupas {
  font-weight: 400;
  color: #255957;
}
.signup--general {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fb8b24;
  width: 400px;
  height: 215px;
  border-radius: 7px;
}
.signup--generaluser {
  font-weight: 400;
  margin-top: 7px;
  font-size: 34;
  color: #255957;
}
.signup-btn {
  border: none;
  background-color: #0f4c5c;
  border-radius: 7px;
  color: white;
  font-family: Poppins;
  font-size: 1.3em;
  width: 300px;
  padding: 8px 10px;
  letter-spacing: 0.03em;
  border: 2px solid #0f4c5c;
  box-shadow: 0px 4px 2px #0f4c5c;
}
.signup--generaltext {
  color: #0f4c5c;
  font-weight: 400;
  line-height: 15px;
  margin-top: 7px;
}

.signup--submitgoogle {
  border: none;
  background-color: #0f4c5c;
  border-radius: 7px;
  color: white;
  font-family: Poppins;
  font-size: 1.1em;
  width: 160px;
  margin-top: -15px;
  padding: 0px 10px;
  letter-spacing: 0.02em;
  border: 2px solid #0f4c5c;
  box-shadow: 0px 4px 2px #0f4c5c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup--googlelogo {
  padding: 0px 7px;
  margin-top: 2px;
}

.signup--hotel {
  margin-top: 15px;
  font-weight: 400;
  color: #255957;
}

.signup--subscribeduser {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fb8b24;
  width: 400px;
  height: 170px;
  border-radius: 7px;
}

.signup--khalti {
  border: none;
  margin-top: 5px;
  border: 2px solid #0f4c5c;
  padding: 0px 20px;
  background-color: white;
  box-shadow: 0px 4px 4px #0f4c5c;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-via {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #0f4c5c;
}
.signup--khaltilogo {
  width: 100px;
  padding: 0px 10px;
}

.signup--price {
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #0f4c5c;
  margin-top: 10px;
}
