* {
    padding: 0;
    margin: 0;
  }
  
  .explore--places{
    display: flex;
    flex-direction: row;
    font-family: Poppins;
  }
  
  .explore--image{
      height: 175px;
      width: 250px;
      border-radius: 7px;
      margin-left: 15px;
  }
  .explore--details{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #0f4c5c;
  }
  .explore--name{
      font-size: 1.2em;
      font-weight: 500;
  }
  .explore--location{
      margin-top: -1px;
      font-weight: 400;
      font-size: 0.8em;
  }
  
  
  