* {
  padding: 0;
  margin: 0;
}

.nav--container{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  font-family: Poppins;
  font-size: 1.1rem;
  width: 100%
}
 
.nav--logo{
  width: 100px;
}
 
.nav--links {
  text-decoration: none;
  color: #0F4C5C;
  transition: color 0.2s ease-in-out;  
}

.nav--links:hover {
  color: #082c35;  
  font-weight: 500;
}
.nav--links:active {
  color: #3e565e;  
  font-weight: 500;
  text-shadow: 0 0 5px #edf4f5;
}
.nav--search {
  font-family:Poppins;
  font-weight: 400;
  font-size: 15px;
  color: #0F4C5C;
  border: none;
  border-radius: 10px;
  background-color: #F1F1F1;
  padding: 0.5rem 1rem;
  width: 400px;
  transition: all 0.3s ease;
}

.nav--search:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.nav--search::placeholder {
  color: #999;
}
.nav--search-container {
  position: relative;
}

.nav--search-clear {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #777;
  cursor: pointer;
  transition: color 0.2s;
}

.nav--search-clear:hover {
  color: #333;
}
