
  .place--offerlistbox{
    margin-top: -5px;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .place--offerlists{
    border: 1px solid #0F4C5C;
    border-radius: 24px;
    min-width: 155px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    color: #0F4C5C;
    cursor: pointer;
  }
  .place--offerlists:hover,
  .place--offerlists:active {
  background-color: #0F4C5C;
  color: #fff;
}
.place--offerlist.selected{
  background-color: #0F4C5C;
  color: #fff;
}
