body {
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    margin: 0;
  }
.reviews-section {
    max-height: 500px;
  }
  
  .review-card {
    display: flex;
    background-color: #F1F1F1;
    margin: 13px 13px ;
    padding: 10px;
    border-radius: 10px;
    border-color: #0f4c5c;
  }
  
  .review--profile {
    display: flex;
    align-items: center;
  }
  
  .review--image2 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .review--two{
    display: flex;
  }
  .reviewer--name {
    font-weight: 510;
    font-size: 18px;
    color: #0f4c5c;
  }
  
  .ratings {
    margin-left: 10px;
    color: #ffc107;
  }
  
  .review--text {
    /* margin-top: 10px; */
    font-size: 15px;
    color:#0f4c5c;
    font-size:90%;
  }
  
  .like-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 8px;
    
  }
  
  .like-button:focus {
    outline: none;
  }
  
  .like-button:hover {
    color: #0d6efd;
  }
  
  .liked {
    color: #0d6efd;
  }
  
  .disliked {
    color: #dc3545;
  }
  
  .like-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
    
  }
  .like-section span {
    margin-left: 10px;
    font-size: 16px;
  }
  .like-button {
    color: #fd950d;
    font-weight: bold;
  }
  
  