* {
  padding: 0;
  margin: 0;
}

.trending--places{
  display: flex;
  flex-direction: row;
  font-family: Poppins;
  
}

.trending--image{
    height: 220px;
    /* width: 300px; */
    border-radius: 7px;
    margin-left: 15px;
    
}
.trending--details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.trending--name{
    font-size: 1.2em;
    color: white;
}
.trending--location{
    margin-top: -1px;
    font-weight: 300;
    font-size: 0.8em;
    color: white;
}

